/**
 * Add callback for custom Gutenberg editor stylesheets.
 * This theme styles the Gutenberg editor with editor-style-gutenberg.css and editor-style-dynamic-gutenberg.php to match theme's frontend view.
 *
 * @link https://developer.wordpress.org/reference/functions/add_editor_style/
 * @since 1.0
 */

.block-editor-block-list__layout,
.post-type-page.medium-width-page .block-editor-block-list__layout {
	max-width: 982px;
	margin: 0 auto;
}

.post-type-page .block-editor-block-list__layout {
	max-width: 1382px;
}

.editor-styles-wrapper,
.editor-block-list__layout {
	color: #252525 !important; /* Important to overwrite inline CSS of WordPress */
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0.025em;
}

.block-editor-block-list__layout .block-editor-default-block-appender>.block-editor-default-block-appender__content,
.block-editor-block-list__layout>.block-editor-block-list__block>.block-editor-block-list__block-edit,
.block-editor-block-list__layout>.block-editor-block-list__layout>.block-editor-block-list__block>.block-editor-block-list__block-edit {
	margin-top: 30px;
	margin-bottom: 30px;
}

[data-block] blockquote > *:last-child,
[data-block] blockquote > p > *:last-child,
[data-block] figure > *:last-child,
.wp-block-column > ul:last-child,
.wp-block-column > ol:last-child,
.wp-block-media-text__content> *:last-child,
.wp-block-cover > *:last-child,
[class*="wp-block-"] > *:last-child,
[class*="wp-block-"] > [class*="wp-block-"]:last-child,
[class*="wp-block-"] > .wp-block-embed__wrapper,
.wp-block-latest-posts__post-date,
.wp-block-latest-posts.is-grid,
.wp-block-pullquote.is-style-solid-color blockquote > p:last-child,
.wp-block-image figure figure,
.wp-block-latest-comments__comment-excerpt,
[class*="wp-block-"] .components-autocomplete > div,
[data-align=left] [class*="wp-block-"],
[data-align=right] [class*="wp-block-"] {
	margin-bottom: 0;
}

[data-block] blockquote > *:first-child,
[data-block] blockquote > p > *:first-child,
[data-block] figure > *:first-child,
.wp-block-columns + *,
.wp-block-column > *:first-child,
.wp-block-column > ul:first-child,
.wp-block-column > ol:first-child,
.wp-block-media-text__content> *:first-child,
[data-block] .comment-content > *:first-child,
.wp-block-cover > *:first-child,
.wp-block-cover video + *,
[data-block] .alignleft,
[data-block] .alignright,
[data-block] ul.alignleft,
[data-block] ol.alignleft,
[data-block] ul.alignleft,
[data-block] ol.alignleft,
[data-block] ul.alignright,
[data-block] ol.alignright,
[data-block] ul.alignright,
[data-block] ol.alignright,
[data-block] ul ul,
[data-block] ul ol,
[data-block] ol ul,
[data-block] ol ol,
[data-align=left] [class*="wp-block-"],
[data-align=right] [class*="wp-block-"],
[class*="wp-block-"] > *:first-child,
[class*="wp-block-"] > [class*="wp-block-"]:first-child,
.wp-block-latest-posts__post-date,
.wp-block-column,
.wp-block-media-text__content,
.wp-block-pullquote.is-style-solid-color blockquote > p:first-child
.wp-block-latest-comments__comment-excerpt,
[class*="wp-block-"] .components-autocomplete > div {
	margin-top: 0;
}

.editor-styles-wrapper dd {
    margin: 0 0 30px 30px;
}

.editor-styles-wrapper .block-library-list ol,
.editor-styles-wrapper .block-library-list ul {
	line-height: 1.8;
}

p.has-background {
	padding: 30px;
}

p.has-background[class*="fa fa-"],
p.has-background[class*="icon-"] {
	position: relative;
	padding-top: 150px;
}

p.has-background[class*="fa fa-"]:before,
p.has-background[class*="icon-"]:before {
	position: absolute;
	top: 30px;
	left: 50%;
	margin-left: -30px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	padding-left: 2px;
	border-radius: 50%;
	background-color: #fff;
	color: #222;
	font-size: 30px;
	z-index: 1;
}

p.has-background[class*="fa fa-"]:after,
p.has-background[class*="icon-"]:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 120px;
	background-color: rgba(0,0,0,0.2);
	color: #222;
}

.wp-block-separator {
	border-top: 3px solid rgba(30,35,40,0.83);
	border-bottom: 0;
}

.wp-block-cover.alignleft,
.wp-block-cover-image.alignleft,
.block-editor-block-list__layout .block-editor-block-list__block[data-align=left] .block-editor-block-list__block-edit {
	margin-right: 30px;
}

.wp-block-cover.alignright,
.wp-block-cover-image.alignleft,
.block-editor-block-list__layout .block-editor-block-list__block[data-align=right] .block-editor-block-list__block-edit {
	margin-left: 30px;
}

.components-autocomplete br[data-rich-text-padding] {
	display: none;
}

video {
	width: 100%;
}

.wp-block-archives,
.wp-block-categories,
.wp-block-latest-posts,
.block-editor ul.wp-block-archives,
.block-editor .wp-block-categories ul,
.block-editor .wp-block-latest-posts {
	padding: 0;
}

.wp-block {
	max-width: calc(100% - 120px);
}

.alignleft .wp-block,
.alignright .wp-block {
	max-width: 100%;
}

.editor-block-list__block-edit {
	font-size: 14px;
}

.editor-styles-wrapper .wp-block-cover .wp-block-cover-image-text,
.editor-styles-wrapper .wp-block-cover .wp-block-cover-text,
.editor-styles-wrapper .wp-block-cover p,
.editor-styles-wrapper .wp-block-cover h2,
.editor-styles-wrapper .wp-block-cover-image .wp-block-cover-image-text,
.editor-styles-wrapper .wp-block-cover-image .wp-block-cover-text,
.editor-styles-wrapper .wp-block-cover-image p,
.editor-styles-wrapper .wp-block-cover-image h2 {
	letter-spacing: 0.07em;
	line-height: 1.5 !important;
}

.editor-styles-wrapper .wp-block-cover a,
.editor-styles-wrapper .wp-block-cover-image a,
.editor-styles-wrapper .wp-block-cover a:hover,
.editor-styles-wrapper .wp-block-cover-image a:hover,
.editor-styles-wrapper .wp-block-cover a:focus,
.editor-styles-wrapper .wp-block-cover-image a:focus,
.editor-styles-wrapper .wp-block-file a {
	color: #fff;
}

.wp-block.editor-post-title__block {
	border-bottom: 1px solid rgba(125,125,125,0.25);
	max-width: calc(100% - 30px);	
	padding-top: 90px;
	padding-bottom: 90px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 60px;
}

.wp-block-latest-posts.is-grid li {
	margin: 0 30px 24px 0;
}

.wp-block-pullquote {
	padding: 30px 0;
}

.wp-block.editor-post-title__block textarea {
	text-transform: uppercase;
	letter-spacing: 0.025em;
}

.post-type-job_listing .wp-block.editor-post-title__block,
.post-type-listar_partner .wp-block.editor-post-title__block{
	border-bottom: 0;
}

.editor-post-title__block .editor-post-title__input {
	text-align: center;
}

.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6 {
	color: #252525;
	margin: 0 0 0.85em;
	padding: 0.85em 0 0;
	font-weight: 700;
}

.editor-styles-wrapper h1 strong,
.editor-styles-wrapper h1 b,
.editor-styles-wrapper h2 strong,
.editor-styles-wrapper h2 b,
.editor-styles-wrapper h3 strong,
.editor-styles-wrapper h3 b,
.editor-styles-wrapper h4 strong,
.editor-styles-wrapper h4 b,
.editor-styles-wrapper h5 strong,
.editor-styles-wrapper h5 b,
.editor-styles-wrapper h6 strong,
.editor-styles-wrapper h6 b {
	font-weight: 500 !important;
}

.editor-styles-wrapper p {
	line-height: 1.8 !important; /* Important to overwrite inline CSS. Recommended by Elite author Schiocco - https://forums.envato.com/t/wordpress-theme-2nd-submission-confirm-if-3-issues-were-fixed-please/240491/4?u=webdesigntrade */
}

/* Font sizes based on Spencer Mortensen's concept of Musical Pentatonic Scale */
/* See: http://spencermortensen.com/articles/typographic-scale/ */

.editor-styles-wrapper h1 {
	font-size: 32px;
	line-height: 1.5;
}

.editor-styles-wrapper h2 {
	font-size: 28px;
	line-height: 1.5;
}

.editor-styles-wrapper h3 {
	font-size: 24px;
	line-height: 1.5;
}

.editor-styles-wrapper h4 {
	font-size: 21px;
	line-height: 1.5;
}

.editor-styles-wrapper h5 {
	font-size: 18px;
	line-height: 1.5;
}

.editor-styles-wrapper h6 {
	font-size: 16px;
	line-height: 1.5;
}

.editor-styles-wrapper a,
.editor-styles-wrapper a:hover,
.editor-styles-wrapper a:focus {
	outline: none !important;
	text-decoration: none;
}

.block-editor .wp-block-categories__list ul {
	padding-left: 30px;
}

.gallery-icon {
	line-height: 0;
}

.wp-block-gallery .blocks-gallery-image,
.wp-block-gallery .blocks-gallery-item {
	margin: 0;
}

.wp-block-gallery .blocks-gallery-image,
.wp-block-gallery .blocks-gallery-item {
	width: calc(100%/2);
}

.wp-block-gallery.columns-1 .blocks-gallery-image,
.wp-block-gallery.columns-1 .blocks-gallery-item {
	width: 100%;
	margin-right: 0;
}

.wp-block-gallery.columns-2 .blocks-gallery-image,
.wp-block-gallery.columns-2 .blocks-gallery-item {
	width: calc(100%/2);
	margin-right: 0;
}

.wp-block-gallery.columns-3 .blocks-gallery-image,
.wp-block-gallery.columns-3 .blocks-gallery-item {
	width: calc(100%/3);
	margin-right: 0;
}

.wp-block-gallery.columns-4 .blocks-gallery-image,
.wp-block-gallery.columns-4 .blocks-gallery-item {
	width: calc(100%/4);
	margin-right: 0;
}

.wp-block-gallery.columns-5 .blocks-gallery-image,
.wp-block-gallery.columns-5 .blocks-gallery-item {
	width: calc(100%/5);
	margin-right: 0;
}

.wp-block-gallery.columns-6 .blocks-gallery-image,
.wp-block-gallery.columns-6 .blocks-gallery-item {
	width: calc(100%/6);
	margin-right: 0;
}

.wp-block-gallery.columns-7 .blocks-gallery-image,
.wp-block-gallery.columns-7 .blocks-gallery-item {
	width: calc(100%/7);
	margin-right: 0;
}

.wp-block-gallery.columns-8 .blocks-gallery-image,
.wp-block-gallery.columns-8 .blocks-gallery-item {
	width: calc(100%/8);
	margin-right: 0;
}

.wp-block-gallery.columns-9 .blocks-gallery-image,
.wp-block-gallery.columns-9 .blocks-gallery-item {
	width: calc(100%/9);
	margin-right: 0;
}

.blocks-gallery-item .is-selected {
	position: relative;
	z-index: 1;
}

.gallery .gallery-item img {
	width: 100%;
}

.wp-block-gallery.listar-equalize-gallery .blocks-gallery-image img,
.wp-block-gallery.listar-equalize-gallery .blocks-gallery-item img {
	width: auto;
	max-width: 999999px;
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.wp-block-gallery .blocks-gallery-image figure,
.wp-block-gallery .blocks-gallery-item figure {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	overflow: hidden;
}

.wp-caption {
	position: relative;
}

.wp-block-freeform.block-library-rich-text__tinymce dl.wp-caption .wp-caption-dd {
	width: 100%;
	bottom: 0;
}

.wp-caption .wp-caption-dd,
.gallery .gallery-caption,
.wp-block-image figcaption,
.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {	
	background: linear-gradient(0deg,rgba(0,0,0,0.9),rgba(0,0,0,0.3) 70%,transparent);
	bottom: 6px;
	color: #fff;
	font-size: 13px;
	line-height: 1.4;
	overflow: auto;
	padding: 30px 10px 30px;
	text-shadow: 1px 1px rgba(0,0,0,1);
	width: calc(100% - 32px);
	position: absolute;
	text-align: center;
	z-index: 1;
	overflow: hidden;
}

.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
	bottom: 0;
	width: 100%;
}

.wp-block-image figcaption,
.wp-block-image figcaption {
	bottom: 0;
	margin-top: auto !important;
	margin-bottom: 4px;
	width: 100%;
	padding-top: 10px;
}

.wp-block-gallery .blocks-gallery-item figcaption {
	position: relative;
}

figure .editor-rich-text__inline-toolbar {
	margin-top: -40px;
	z-index: 25;
}

.wp-block-image {
	margin: 0;
	display: table;
}

.block-editor__container .editor-block-list__layout [data-align="full"] img {
	border-radius: 0;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote,
.wp-block-quote:not(.is-large):not(.is-style-large) {
	position: relative;
	color: #252525;
	padding: 30px;
	font-size: 18px;
	line-height: 1.5;
	margin: 15px 0;
	border-top: 0;
	border-bottom: 0;
	border-left: 4px solid #eee;
	font-style: italic;
}

.wp-block-pullquote {
	font-style: italic;
	border-top: 4px solid #eee;
	border-bottom: 4px solid #eee;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 30px 0;
}

.wp-block-pullquote.is-style-solid-color .wp-block-pullquote__citation {
	margin-top: 30px;
}

[data-align="left"] [data-block] > *:first-child,
[data-align="right"] [data-block] > *:first-child {
	margin-top: 0;
}

[data-align="left"] .wp-block-pullquote,
[data-align="right"] .wp-block-pullquote {
	width: 305px;
}

.wp-block-cover-image.aligncenter,
.wp-block-cover-image.alignleft,
.wp-block-cover-image.alignright,
.wp-block-cover.aligncenter,
.wp-block-cover.alignleft,
.wp-block-cover.alignright {
	overflow: visible;
}

.wp-block-quote[style*="text-align:right"],
.wp-block-quote[style*="text-align: right"],
.wp-block-quote:not(.is-large):not(.is-style-large)[style*="text-align:right"],
.wp-block-quote:not(.is-large):not(.is-style-large)[style*="text-align: right"] {
	border-right: 4px solid #eee;
	border-left: 0;
}

.wp-block-pullquote .wp-block-pullquote__citation,
.wp-block-quote .wp-block-quote__citation,
.wp-block-quote__citation,
.wp-block-quote cite,
.wp-block-quote footer,
.wp-block-pullquote cite,
.wp-block-pullquote footer {
	font-style: italic;
	text-transform: none;
	font-size: 15px;
	color: #6c7781;
}

.wp-block-pullquote.is-style-solid-color .wp-block-pullquote__citation {
	font-style: italic;
}

.wp-block-pullquote .wp-block-pullquote__citation,
.wp-block-pullquote cite,
.wp-block-pullquote footer {
	color: inherit;
}

.wp-block-pullquote.is-style-solid-color blockquote>.block-editor-rich-text p {
	font-size: 28px;
}

.wp-block-media-text .wp-block-media-text__content,
.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
	padding: 0 30px;
}

blockquote .wp-block-quote__citation,
.wp-block-pullquote.is-style-solid-color .wp-block-pullquote__citation {
	font-size: 15px;
}

.wp-block-separator.is-style-dots:before {
	font-weight: 700;
	font-size: 30px;
	letter-spacing: 1.5em;
}

.wp-block-freeform.block-library-rich-text__tinymce .wp-block-pullquote blockquote,
.editor-styles-wrapper .wp-block-pullquote blockquote {
	border: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.components-placeholder__fieldset {
	margin-left: auto;
	margin-right: auto;
}

.wp-block-table,
.wp-block-table th {
	font-weight: normal;
	font-size: 14px;
	text-align: left;
}

.wp-block-table td,
.wp-block-table th,
.wp-block-table thead,
.wp-block-table td,
.wp-block-table th {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	overflow-wrap: break-word;
	word-break: break-word;
	-ms-hyphens: none;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
}

.wp-block-table thead th {
	font-size: 15px;
	font-weight: bold !important; /* Important to overwrite inline CSS */
}

.wp-block-table th,
.wp-block-table td {
	border: none;
}

.wp-block-table tr {
	border: 0;
	border-top: 1px solid #dddddd;
}

.wp-block-table tr:first-child {
	border-top: 0;
}

.has-drop-cap:not(:focus)::first-letter {
	font-size: 8.7em;
	margin: 8px 30px 30px 0;
	font-weight: 500 !important; /* Important to overwrite inline CSS */
}

.has-drop-cap:not(:focus)::after {
	content: "";
	display: table;
	clear: both;
	padding-top: 14px;
}

.wp-block-table caption {
	background-color: rgb(37,139,213);
	color: #ffffff;
	font-weight: bold;
	font-size: 15px;
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	position: relative;
	bottom: -1px;
}

.wp-block-table {
	background-color: #f5f6fa;
	border: 1px solid #ddd;
}

.wp-block-table.is-style-stripes.has-subtle-light-gray-background-color tr:nth-child(odd),
.wp-block-table.is-style-stripes tr:nth-child(odd) {
	background-color: #f5f6fa;
}

.wp-block-table thead,
.wp-block-table thead * {
	background-color: #333333;
	color: #ffffff;
}

.wp-block-table thead {
	border-bottom: 1px solid #dddddd;
}

.wp-block-table tfoot,
.wp-block-table tfoot *,
.wp-block-table tbody th,
.wp-block-table tbody th * {
	background-color: #eeeeee;
	color: #222222;
	font-weight: bold;
}

.wp-block-table,
.wp-block-table th {
	font-weight: normal;
	font-size: 14px;
	text-align: left;
}

.wp-block-table thead th {
	font-size: 15px;
	font-weight: bold !important; /* Important to overwrite inline CSS */
}

.wp-block-table th,
.wp-block-table td {
	border: none;
}

.wp-block-table tr {
	border: 0;
	border-top: 1px solid #dddddd;
}

.wp-block-table tr:first-child {
	border-top: 0;
}

.wp-block-table.is-style-stripes {
	border-bottom: 1px solid #e0e0e0;
}

.wp-block-table  tr:first-of-type {
	border-top: 0;
}

.wp-block-table > tr:last-child,
.wp-block-table > :last-child > tr:last-child {
	border-bottom: 0;
}

.wp-block-table th,
.wp-block-table td {
	padding: 9px 12px;
	vertical-align: middle;
}

.wp-block-table thead tr th {
	font-size: 15px;
	font-weight: bold;
}

.wp-block-table caption,
.wp-block-table th {
	font-size: 14px;
	padding-top: 0;
	letter-spacing: 1px;
}

.wp-block-table caption {
	padding-bottom: 16px;
}

.wp-block-table td {
	padding: 4px 0;
}

.wp-block-table tfoot td,
.wp-block-table td,
.wp-block-table th {
	padding: 9px 14px;
}

.wp-block-table tfoot td .wp-block-table__cell-content,
.wp-block-table td .wp-block-table__cell-content,
.wp-block-table th .wp-block-table__cell-content {
	padding: 0;
}

.wp-block-table td {
	border: 1px solid #e0e0e0;
}

.wp-block-table caption,
.wp-block-table th {
	border: 1px solid #555;
}

.wp-block-table tbody th {
	border: 1px solid #ddd;
}


.wp-block-table tfoot td {
	border-top: 1px solid #ddd;
	border-left: 0;
	border-right: 0;
	padding: 10px;
}

/* Fix layout conflict of old (default) WordPress gallery on Gutenberg editor */

.gallery-item {
	float: left;
	text-align: center;
}

.gallery-columns-1 .gallery-item {
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    width: 50%;
}

.gallery-columns-3 .gallery-item {
    width: 33.3333%;
}

.gallery-columns-4 .gallery-item {
    width: 25%;
}

.gallery-columns-5 .gallery-item {
    width: 20%;
}

.gallery-columns-6 .gallery-item {
    width: 16.666%;
}

.gallery-columns-7 .gallery-item {
    width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
    width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    width: 11.1111%;
}

.gallery-columns-10 .gallery-item {
    width: 10%;
}

.wp-block[data-type="core/spacer"] {
	clear: both;
}

.wp-block-button__link {
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	border: 0;
	padding: 10px 40px;
	border-radius: 22px;
	min-height: 44px;
	max-width: 100%;
	line-height: 1.78;
	text-align: center;
	text-shadow: 1px 1px rgba(0,0,0,0.2);
	text-decoration: none;
}

.wp-block-button.is-style-outline .wp-block-button__link {
	color: inherit;
}

.listar-color-text-bg {
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 18px;
	color: #fff;
}

.listar-force-quotes:before {
	content: open-quote;
	padding-right: 5px;
}

.listar-force-quotes:after {
	content: close-quote;
	padding-left: 5px;
}

.wp-block-cover .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
.wp-block-cover h2,
.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image .wp-block-cover-text,
.wp-block-cover-image h2 {
	font-size: 42px;
	letter-spacing: 0.1em;
	max-width: 100%;
	font-weight: 700;
}

body .listar-blue-text,
body .listar-blue-text * {
	color: #258bd5 !important; /* Needed to force this color, no matter what */
}

body .listar-pink-text,
body .listar-pink-text * {
	color: #fa5abf !important; /* Needed to force this color, no matter what */
}

body .listar-green-text,
body .listar-green-text * {
	color: #00ae5a !important; /* Needed to force this color, no matter what */
}

.block-editor-rich-text code,
.block-editor-rich-text kbd,
.block-editor-rich-text code:hover,
.block-editor-rich-text kbd:hover,
.block-editor-rich-text code:focus,
.block-editor-rich-text kbd:focus,
.block-editor-rich-text__editable:focus kbd[data-rich-text-format-boundary],
.block-editor-rich-text__editable:focus code[data-rich-text-format-boundary] {
	background-color: rgb(35,40,45);
	color: #fff;
	padding: 2px 4px;
	line-height: 1.8;
	text-align: left;
	border: 0;
}


.block-editor-rich-text pre,
.block-editor-rich-text {
	font-size: 14px;
}	

.block-editor-rich-text pre,
.wp-block-code,
.wp-block-html textarea {
	background-color: rgb(35,40,45);
	color: #fff;
	text-align: left;
	display: block;
	padding: 30px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.8;
	word-break: break-all;
	word-wrap: break-word;
	border: 0;
	border-radius: 4px;
}

.wp-block-html .block-editor-plain-text {
	margin: 0;
	padding: 30px;
}

.wp-block-code textarea,
.wp-block-html textarea,
.wp-block-html .block-editor-plain-text,
.wp-block-code .block-editor-plain-text,
.wp-block-code textarea:focus,
.wp-block-html textarea:focus,
.wp-block-html .block-editor-plain-text:focus,
.wp-block-code .block-editor-plain-text:focus {
	border: 0;
	color: #fff;
}


.wp-block-code .block-editor-plain-text {
	background-color: transparent;
}

.post-type-product p:before {
	margin-right: 15px;
	font-size: 28px;
	position: relative;
	top: -2px;
}

.editor-styles-wrapper .wp-block-file {
	padding: 30px;
	background-color: rgb(35,40,45);
	color: #ffffff;
}

.wp-block-archives,
.wp-block-categories__list,
.wp-block-latest-posts {
	list-style-type: none;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}

.wp-block-archives li a:before,
.wp-block-latest-comments__comment-author:before {
	font-family: "FontAwesome";
	margin-right: 12px;
	font-size: 18px;
	display: inline-block;
	padding-right: 3px;
	width: 25px;
}

.wp-block-archives li a:before {	
	position: relative;
	top: 1px;
}

.wp-block-latest-comments__comment-author:before {
	content: "\f27b";
	position: relative;
	top: 1px;
	color: rgb(37,139,213);
	background-color: #ffffff;
	width: 38px;
	margin-right: 0;
	padding-right: 0;
}

.wp-block-archives li a:before {
	content: "\f073";
	color: rgb(37,139,213);
}

.wp-block-archives li,
.wp-block-categories__list li,
.wp-block-latest-posts li {
	display: block;
	color: #252525;
	font-size: 14px;
}

.wp-block-archives li a,
.wp-block-categories__list li a,
.wp-block-latest-posts li a {
	position: relative;
	display: inline-block;
	color: #252525;
	font-size: 14px;
	padding: 6px 0;
	margin-bottom: 0;
}

.wp-block-latest-comments__comment-meta a {
	color: #252525;
	background-color: rgba(0,0,0,0.05);
	line-height: 2.2;
	border-radius: 5px;
}

.wp-block-archives-dropdown select,
.wp-block-categories__list select {
	position: relative;
	width: 100%;
	max-width: 370px;
	padding-left: 15px;
	padding-right: 40px;
	height: 42px;
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid rgba(125,125,125,0.2);
	outline: none;
	margin: 0;
	color: black;
	font-size: 14px;
}

body.wp-admin .wp-block-archives-dropdown select,
body.wp-admin .wp-block-categories__list select {
	height: 42px;
}

.wp-block-archives-dropdown select,
.wp-block-categories__list select {
	position: relative;
	width: 100%;
	padding-left: 15px;
	padding-right: 40px;
	height: 42px;
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid rgba(125,125,125,0.2);
	outline: none;
	margin: 0;
}

.wp-block-archives-dropdown select,
.wp-block-categories__list select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: #ffffff;
	background-image: url("data:image/svg+xml;utf8,<svg fill='#d1d1d1' style='position:relative;right:5px;top:3px;' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-repeat: no-repeat;
	background-position-x: 100%;
	background-position-y: 6px;
}

.wp-block-archives-dropdown select,
.wp-block-archives-dropdown select,
.wp-block-categories__list select,
.wp-block-categories__list select {
	background-image: url("data:image/svg+xml;utf8,<svg fill='rgb(150,150,150)' style='position:relative;right:5px;top:3px;' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

.wp-block-archives-dropdown select:hover,
.wp-block-archives-dropdown select:focus,
.wp-block-categories__list select:hover,
.wp-block-categories__list select:focus {
	background-image: url("data:image/svg+xml;utf8,<svg fill='rgb(37,139,213)' style='position:relative;right:5px;top:3px;' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

.wp-block-latest-comments__comment-avatar ~ article .wp-block-latest-comments__comment-meta {
	padding-top: 2px;
}

.wp-block-archives li:after,
.wp-block-categories__list li:after,
.wp-block-latest-posts li:after,
.wp-block-categories__list:not(.wp-block-categories__list-level-0):before,
.wp-block-categories__list:not(.wp-block-categories__list-level-0) li:after,
.wp-block-latest-posts li:after,
.wp-block-latest-comments__comment:after {
	content: "";
	position: relative;
	display: block;
	padding-top: 20px;
	margin-bottom: 5px;
	border-bottom: 1px solid rgba(0,0,0,0.12);
}

.wp-block-archives li:after,
.wp-block-categories__list li:after,
.wp-block-latest-posts li:after,
.wp-block-categories__list:not(.wp-block-categories__list-level-0):before,
.wp-block-categories__list:not(.wp-block-categories__list-level-0) li:after,
.wp-block-latest-posts li:after {
	padding-top: 8px;
	margin-bottom: 8px;
}

.wp-block-latest-comments__comment:after {
	padding-top: 30px;
}

.wp-block-archives li:last-child:after,
.wp-block-categories__list li:last-child:after,
.wp-block-latest-comments__comment:last-child:after,
.wp-block-latest-posts:not(.is-grid) li:last-child:after {
	content: none;
}

.wp-block-latest-posts__post-date {
	padding-bottom: 6px;
}

ul.wp-block-latest-comments,
ol.wp-block-latest-comments {
	padding-left: 0;
}

.wp-block-latest-comments__comment-link ~ .wp-block-latest-comments__comment-date {
	margin-top: 10px;
}

.wp-block-latest-comments .avatar,
.wp-block-latest-comments__comment-avatar {
	margin-right: 8px;
}

.wp-block-latest-comments__comment-excerpt {
	margin-top: 15px;
}

.wp-block-latest-comments__comment {
	font-size: 14px;
}

.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta,
.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt {
	margin-left: 66px;
}

.wp-block-latest-comments__comment-avatar {
	box-shadow: 5px 5px 15px rgba(0,0,0,0.15);
}

.wp-block-latest-comments__comment-meta {
	margin-top: 0;
	margin-bottom: 0;
}

.wp-block-latest-comments .avatar,
.wp-block-latest-comments__comment-avatar {
	margin-top: 0;
}

.wp-block-verse pre {
	border: 0;
	font-size: 14px;
}

.editor-styles-wrapper code,
.editor-styles-wrapper kbd,
.editor-styles-wrapper pre,
.editor-styles-wrapper samp {
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace !important;
}

.wp-block-embed-twitter.alignwide,
.wp-block-embed-facebook.alignwide,
.wp-block-embed-instagram.alignwide,
.wp-block-embed-twitter.alignfull,
.wp-block-embed-facebook.alignfull,
.wp-block-embed-instagram.alignfull,
.wp-block-embed-twitter.aligncenter,
.wp-block-embed-facebook.aligncenter,
.wp-block-embed-instagram.aligncenter {
	max-width: 100vw !important;
	margin-left: auto;
	margin-right: auto;
	width: auto;
}

.block-editor__typewriter iframe,
.block-editor__typewriter span[data-mce-object="iframe"] {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	border: 1px solid #e0e0e0;
	min-height: 400px;
}

.wp-block-embed-twitter.alignwide > *,
.wp-block-embed-twitter.alignwide > * > *,
.wp-block-embed-twitter.alignfull > *,
.wp-block-embed-twitter.alignfull > * > *,
.wp-block-embed-twitter.aligncenter > *,
.wp-block-embed-twitter.aligncenter > * > *,
.wp-block-embed-facebook.alignwide > *,
.wp-block-embed-facebook.alignwide,
.wp-block-embed-facebook.alignfull,
.wp-block-embed-facebook.aligncenter,
.wp-block-embed-facebook.alignwide .fb_iframe_widget,
.wp-block-embed-facebook.alignfull .fb_iframe_widget,
.wp-block-embed-facebook.aligncenter .fb_iframe_widget,
.wp-block-embed-instagram.alignwide > *,
.wp-block-embed-instagram.alignwide > * > *,
.wp-block-embed-instagram.alignfull > *,
.wp-block-embed-instagram.alignfull > * > *,
.wp-block-embed-instagram.aligncenter > *,
.wp-block-embed-instagram.aligncenter > * > *,
.wp-block-embed-instagram.alignwide iframe,
.wp-block-embed-instagram.alignfull iframe,
.wp-block-embed-instagram.aligncenter iframe {
	text-align: center;
	margin-left: auto !important; /* Needed to overwrite possible Javacript attributions */
	margin-right: auto !important; /* Needed to overwrite possible Javacript attributions */
}

.wp-block-image.is-focused .components-resizable-box__handle.components-resizable-box__handle-bottom {
	z-index: 10;
}

@media (min-width: 768px) {
	.wp-block.editor-post-title__block textarea {
		font-size: 52px;
		max-width: 960px;
		margin: 0 auto;
		padding-left: 30px;
		padding-right: 30px;
	}

	.post-type-job_listing .wp-block.editor-post-title__block textarea {
		max-width: 1140px;
		letter-spacing: 4px;
		text-shadow: 7px 7px rgba(0,0,0,0.12);
	}
}

@media ( max-width: 767px ) {
	.editor-styles-wrapper h1 {
		font-size: 29px;
	}

	.editor-styles-wrapper h2,
	.editor-styles-wrapper h3 {
		font-size: 22px;
	}

	.editor-styles-wrapper h4 {
		font-size: 14px;
		line-height: 1.5
	}
}

@media ( max-width: 600px ) {
	.editor-styles-wrapper h1,
	.editor-styles-wrapper h2,
	.editor-styles-wrapper h3,
	.editor-styles-wrapper h4,
	.editor-styles-wrapper h5,
	.editor-styles-wrapper h6 {
		margin-top: 20px;
	}
	
	.wp-block-latest-posts li:last-child:after  {
		content: none;
	}
}

@media ( max-width: 480px ) {
	.editor-styles-wrapper h1 {
		font-size: 20px;
	}

	.editor-styles-wrapper h2 {
		font-size: 18px;
	}

	.editor-styles-wrapper h3 {
		font-size: 15px;
	}

	.editor-styles-wrapper h4 {
		font-size: 14px;
	}
}

@media ( min-width: 600px ) {	
	.wp-block.editor-post-title__block {
		max-width: calc(100% + 92px);
		margin-left: -46px;
		margin-right: -46px;
	}

	.edit-post-text-editor {
		max-width: calc(100% - 92px);
	}

	.edit-post-visual-editor .block-editor-block-list__block .wp-block-cover .block-editor-block-list__block-edit,
	.edit-post-visual-editor .block-editor-block-list__block .wp-block-cover-image .block-editor-block-list__block-edit {
		margin-left: -43px;
		margin-right: -43px;
	}

	.wp-block-column {
		flex-basis: calc(50% - 30px);
		flex-grow: 0;
	}

	.wp-block-latest-posts.columns-2 li {
		width: calc(50% - 30px);
	}

	.wp-block-latest-posts.columns-3 li {
		width: calc(33.33333% - 30px);
	}

	.wp-block-latest-posts.columns-4 li {
		width: calc(25% - 30px);
	}

	.wp-block-latest-posts.columns-5 li {
		width: calc(20% - 30px);
	}

	.wp-block-latest-posts.columns-6 li {
		width: calc(16.66667% - 30px);
	}

	[class*="wp-block-"].alignleft,
	.block-editor-block-list__layout .block-editor-block-list__block[data-align=left] .block-editor-block-list__block-edit {
		margin-right: 30px;
	}

	[class*="wp-block-"].alignright,
	.block-editor-block-list__layout .block-editor-block-list__block[data-align=right] .block-editor-block-list__block-edit {
		margin-left: 30px;
	}

	.block-editor-block-list__layout .block-editor-block-list__block[data-align=left] .block-editor-block-list__block-edit [class*="wp-block-"].alignleft {
		margin-right: 0;
	}

	.block-editor-block-list__layout .block-editor-block-list__block[data-align=right] .block-editor-block-list__block-edit [class*="wp-block-"].alignright {
		margin-left: 0;
	}
}

@media ( min-width: 782px ) {
	.wp-block-column:not(:first-child) {
		margin-left: 30px;
	}
}
