
/*******************************************************************************
Woocommerce Marketplace
*******************************************************************************/

/*******************************************************************************
01 - Start Hidding things
*******************************************************************************/

/*******************************************************************************
02 - General
*******************************************************************************/

#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-data p.store-phone {
	display: none;
}

#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-content .store-info {
	opacity: 1;
	box-shadow: -2000px 0 0 rgb(0 0 0 / 40%) inset;
}

#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-data h2 a {
	color: #fff !important;
}

#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-data p.store-phone {
	background: none !important;
	margin-top: 0;
}

#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-footer .store-data-container {
	left: 30px;
	width: calc(100% - 60px);
}

#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li.coloum-3 .store-data h2 {
	line-height: 1.5 !important;
}

#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li.coloum-3 .store-footer .store-avatar {
	top: -50px;
}

#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-footer {
	min-height: 100px !important;
}

#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li p.store-enquiry {
	right: auto;
	left: 0;
	margin: 0;
	top: auto;
	bottom: auto;
	white-space: nowrap;
}

#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li.coloum-3 p.store-enquiry {
	top: 241px;
}

#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li.coloum-3 a.wcfmmp-visit-store,
#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li.coloum-3 a.wcfmmp-visit-store:hover {
	top: auto;
	right: 30px;
	bottom: 30px;
	height: auto;
	line-height: 1;
	white-space: nowrap;
}

#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-data p.store-enquiry a.wcfm_catalog_enquiry,
#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-data p.store-enquiry a.wcfm_catalog_enquiry:hover,
#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li a.wcfmmp-visit-store,
#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li a.wcfmmp-visit-store:hover {
	background-color: transparent;
	background: none !important;
	box-shadow: none;
	border: 0;
	padding: 0;
	font-weight: bold;
}

#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-data p.store-enquiry a.wcfm_catalog_enquiry {
	font-size: 0;
}

#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-data p.store-enquiry a.wcfm_catalog_enquiry .add_enquiry_label,
#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li .store-data p.store-enquiry a.wcfm_catalog_enquiry .add_enquiry_label:hover,
#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li a.wcfmmp-visit-store,
#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li a.wcfmmp-visit-store:hover {
	text-transform: capitalize;
	font-size: 14px;
	color: #252525 !important;
	padding: 0 !important;
	display: inline-block;
	width: auto !important;
	min-width: auto !important;
	min-height: auto !important;
	height: auto;
	line-height: 1;
}

#wcfmmp-store-list-map {
	display: none;
}

#wcfmmp-stores-wrap ul.wcfmmp-store-wrap li {
	margin-bottom: 30px;
}

.wcfmmp-store-wrap {
	margin-bottom: -30px;
}

.select2-results__option[id*="select2-wcfmmp_store_orderby-result"] {
	line-height: 1.5;
}

.select2-container .select2-selection--single[aria-labelledby="select2-wcfmmp_store_orderby-container"] {
	font-size: 14px;
	padding-right: 35px;
}

.store-data-container .store-phone i {
	background-color: rgba(255,255,255,1);
	color: #252525;
	font-weight: bold;
	position: relative;
	top: -1px;
	margin-right: 5px;
}