
/*******************************************************************************
Woocommerce Marketplace
*******************************************************************************/

/*******************************************************************************
01 - Start Hidding things
*******************************************************************************/

.products_manage_linked,
.wcfm_quick_access_icon,
.wcfm_quick_access_icon + label,
.wcfm_quick_access_icon + label + span,
.quick_access_disabled,
.quick_access_disabled + label,
.quick_access_disabled + label + input,
.select2-selection--multiple:after,
[class*="select2-results__option"][id*="select2-product_type-"][id*="-subscription"],
[class*="select2-results__option"][id*="select2-product_type-"][id*="-job_package"],
#wcfm_menu .wcfm_menu_items a.wcfm_menu_item:after,
#wcfm_menu .wcfm_menu_items a.wcfm_menu_item:hover:after,
.wcfmfa.fa-tv,
#wcfm-main-contentainer .wcfm-top-element-container .select2-container .select2-selection__clear,
.wcfm_header_panel_notice,
.wcfm_header_panel_knowledgebase,
.wcfm_product_popup_button_wrapper,
.store_address.store_location_wrap,
.store_default_logo,
.store_default_logo ~ .wcfm-logo-uploads.wcfm_img_uploader,
#wcfm_settings_dashboard_expander.wcfm-content .wcfm_logo.wcfm_title,
#wcfm_settings_dashboard_expander.wcfm-content .wcfm_logo.wcfm_title + label + .wcfm-wp-fields-uploader.wcfm-text.wcfm_ele.wcfm_img_uploader,
.vendor_sold_by_template,
#vendor_sold_by_template,
#vendor_sold_by_template + p,
#sold_by_template_advanced,
.store_name_position,
#store_name_position,
#store_name_position + .wcfm_page_options_desc,
.store_banner_dimension,
.store_banner_dimension ~ *,
.banner_type,
#banner_type,
.list_banner_type,
#list_banner_type,
.mobile_banner,
.mobile_banner + .screen-reader-text + .wcfm-wp-fields-uploader,
.page_collapsible ~ br,
.store_hide_map,
#store_hide_map,
.quick_access_disabled-quick_access_disabled_wrapper,
.float_button_disabled-float_button_disabled_wrapper,
.wcfm_google_map_api_wrapper,
#wcfm_capability_form_shop_manager_head,
#wcfm_capability_form_shop_staff_head,
#product_type option[value="subscription"],
#product_type option[value="job_package"],
#product_type option[value="external"],
#product_type option[value="grouped"],
select[name="product_type"] option[value="subscription"],
select[name="product_type"] option[value="job_package"],
select[name="product_type"] option[value="external"],
select[name="product_type"] option[value="grouped"],
.wcfm-setup #wc-logo a[href*="wclovers.com"],
.hidden,
.wcfm_ultimate_notice_disabled,
.wcfm_ultimate_notice_disabled + label,
.wcfm_ultimate_notice_disabled + label + input,
#wcfm_settings_form_geolocate_head,
#wcfmmp_settings_form_store_style_head,
#wcfm_settings_form_style_head,
#wcfm_settings_form_pages_head,
#wcfm_settings_form_menu_manager_head,
.wcfm_gloabl_settings,
#wcfm_settings_form_analytics_region_head,
#wcfm_store_world_map_views,
#wcfm_store_world_map_views + .wcfm-container,
#wcfm_store_world_map_views + .wcfm-container + .wcfm-clearfix,
#wcfm_store_world_map_views + .wcfm-container + .wcfm-clearfix + br,
.wcfm_store_referrer,
#wcfm_product_featured,
.wcfm_menu_wcfm-followers,
#wcfm_settings_form_chatbox_head {
	opacity: 0;
	content: none !important;
	display: none !important;
}

#wcfm-main-contentainer .wcfm-container-box .wcfm-container {
	margin: 0;
	height: 145px;
	width: 50%;
	border: 0;
}

#wcfm_page_load + .wcfm-container-box + .wcfm-container-box {
	width: 100%;
}

#wcfm_page_load + .wcfm-container-box + .wcfm-container-box .wcfm-container {
	width: 100%;
}

#wcfm-main-contentainer .wcfm-container-box .wcfm-container .wcfm-content {
	margin-top: 20px;
}

#wcfm-main-contentainer .wcfm-container-box .wcfm-container .wcfm-content .wcfmfa {
	font-size: 26px;
}

#wcfm-main-contentainer .wcfm-container-box .wcfm-container .booking_dashboard_section_label h2 {
	font-size: 16px;
}

.wc-setup #wc-logo a span {
	font-size: 0;
}

#top-products-report {
	height: auto;
	max-height: 9999px;
}

.wcfm_dashboard_stats_block.listar-dashboard-post-count > a > span {
	background: #007cba !important;
}

.wcfm_dashboard_stats_block {
	max-height: 999px;
}

.wcfm_dashboard_stats_block .wcfmfa {
	height: 100px;
}

.wcfm_welcomebox_user_details h3 {
	font-weight: bold;
}

#wcfm-main-contentainer .wcfmmp_profile_complete_progress_label {
	transform: translate(-50%, -2px);
}

#wcfm_dashboard_wcfm_analytics_expander #poststuff {
	margin-top: 20px;
}

.wcfm_dashboard_stats_block div.listar-dashboard-pending {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 10px;
	background-color: #b854e2;
	padding: 0 6px;
	border-radius: 0 4px 0 4px;
}

.wcfm_dashboard_stats_block [class*="fa-"] {
	background: #007cba !important
}

.listar-dashboard-pending strong {
	font-size: 12px;
	color: #fff;
}

*.fa-briefcase:before {
	content: "\f3c5" !important;
}

#wcfm_store_world_map_views + .wcfm-container + .wcfm-clearfix ~ .wcfm-clearfix,
#wcfm_store_world_map_views + .wcfm-container + .wcfm-clearfix + br ~ br {
	opacity: 1;
	display: block !important;
}

.unhidden {
	opacity: 1;
	display: block !important;
}

body {
	border: 0;
}

.wc-setup-steps > li {
	word-spacing: 200px;
}

.wc-setup .wc-setup-content iframe {
	display: none;
}

#wcfm_menu:not(.wcfm_menu_toggle) .wcfm_menu_logo img {
	margin-left: 4px;
	background-color: #fff;
}

#wcfm_menu.wcfm_menu_toggle .wcfm_menu_logo img {
	margin-left: 15px;
}

.wcfm_welcomebox_user_profile img {
	width: 100%;
	height: 100%;
}

.wcfm_welcomebox_user_profile img {
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}

#wcfm_menu:not(.wcfm_menu_toggle) .wcfm_menu_logo h4 {
	width: 100%;
}

#wcfm_menu:not(.wcfm_menu_toggle) .wcfm_menu_logo h4 a {
	display: inline-block;
	overflow: hidden;
	max-width: calc(100% - 50px);
	white-space: nowrap;
	text-overflow: ellipsis;
}

.wcfm-admin-menu-head img[src*="wcfmmp-30X30.png"],
.wcfm-admin-menu-head img[src*="wcfm-30x30.jpg"] {
	opacity: 0;
}

#wpadminbar .wcfm-admin-menu-head img[src*="wcfmmp-30X30.png"] ~.screen-reader-text,
#wpadminbar .wcfm-admin-menu-head img[src*="wcfm-30x30.jpg"] ~.screen-reader-text {
	width: 30px;
	height: 30px;
	color: #fff;
	clip: unset;
	clip-path: none;
	-webkit-clip-path: unset;
	z-index: 50;
	display: inline-block;
	font-size: 0;
	margin-left: -27px;
}

#wpadminbar .wcfm-admin-menu-head img[src*="wcfmmp-30X30.png"] ~.screen-reader-text:before,
#wpadminbar .wcfm-admin-menu-head img[src*="wcfm-30x30.jpg"] ~.screen-reader-text:before {
	font-family: "Font Awesome 5 Free", FontAwesome;
	content: "\f54f";
	font-size: 14px;
	display: inline-block;
	position: relative;
	background-color: #fff;
	color: rgba(25,30,35);
	text-align: center;
	border-radius: 4px;
	width: 24px;
	height: 24px;
	line-height: 26px;
	top: 5px;
}

/*******************************************************************************
02 - Normalize
*******************************************************************************/
body {
	font-family: "Roboto";
	margin: 0;
	line-height: 1.8;
}

* {
	font-style: normal !important;
	text-decoration: none !important;
}

/*******************************************************************************
03 - Customizations
*******************************************************************************/

#wcfm-content {
	border: 0;
}

#wcfm-main-content {
	padding: 0;
}

#wcfm-main-contentainer {
	margin-bottom: 0;
}

#wcfm-main-contentainer .dataTables_wrapper .select2-container--default .select2-selection--single .select2-selection__rendered,
#wcfm-main-contentainer .select2-search input {
	padding: 0 !important;
	text-align: left;
	padding: 8px 10px !important;
	line-height: 1.6 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 6px;
}

.wcfm-collapse .wcfm-container,
.wcfm-tabWrap {
	box-shadow: 0 0 30px rgba(0,0,0,0.1);
}

#wcfm-main-contentainer #wcfmmp_profile_complete_progressbar {
	border: 0;
	box-shadow: 0 0 30px rgba(0,0,0,0.1);
	border-radius: 3px;
}

#wcfm-main-contentainer .ui-progressbar .ui-progressbar-value {
	border-radius: 3px;
}

.wcfm_header_panel_profile {
	width: 16px !important;
	height: 16px !important;
	padding: 0 !important;
	padding-right: 30px !important;
	margin-right: 0 !important;
}

.wcfm_header_panel_profile img {
	opacity: 0;
	width: 30px !important;
	height: 35px !important;
	position: absolute !important;
	top: 0 !important;
	right: 8px !important;
}

.wcfm-page-headig > .wcfmfa:not(.wcfm_menu_toggler) {
	position: relative;
	text-align: right;
	width: 55px;
	padding-right: 14px;
	padding-left: 14px;
	text-align: right;
}

.wcfm-collapse .wcfm-top-element-container {
	margin-top: 0;
}

#wcfm-main-contentainer .wcfm_menu_toggler,
#wcfm-main-contentainer .wcfm_responsive_menu_toggler,
.wcfm-page-heading-text,
.page_collapsible label,
.collapse-open,
#wcfm-main-contentainer a.add_new_wcfm_ele_dashboard,
#wcfm-main-contentainer a.wcfm_import_export {
	color: #fff !important;
}

#wcfm-main-contentainer .page_collapsible .page_collapsible_content_holder label.wcfmfa,
#wcfm-main-contentainer .wcfm-tabWrap .page_collapsible_content_holder label {
	width: 25px;
}

.wcfm-collapse .wcfm-top-element-container {
	padding: 30px 25px;
}

.wcfm_wp_admin_view {
	margin-top: 7px;
	margin-bottom: 7px;
}

.page_collapsible {
	padding: 10px 10px 10px 30px;
}

.wcfm_header_panel_profile:before {
	font-family: "Font Awesome 5 Free", FontAwesome;
	position: relative;
	content: "\f2bd";
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	top: 9px;
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus {
	border: 1px solid #aaa !important;
	outline: none !important;
}

.select2-container--open .select2-dropdown{
	width: 150px;
	padding: 0 5px 5px;
}

.wcfm-collapse-content {
	padding: 23px 23px;
}

.wcfm_dashboard_wc_reports_sales .wcfm-container,
.wcfm_dashboard_stats_block,
.wcfm_welcomebox_header {
	border-radius: 3px;
}

.wcfm_dashboard_wc_status {
	width: calc(100% + 10px);
	margin-left: -5px;
}

#wcfm_menu .wcfm_menu_items .wcfm_sub_menu_items {
	margin: 0;
}

.wcfm_dashboard_stats {
	width: calc(100% + 17px);
	margin-bottom: 12px;
}

.wcfm_dashboard_stats_block {
	width: calc(25% - 21px);
	margin-left: 0;
	margin-right: 18px;
}

.wcfm_dashboard_wc_reports_sales,
#wcfm_dashboard_wcfm_region_stats_expander {
	padding: 0;
}

.wcfm-tabWrap .wcfm-container {
	display: block;
}

.wcfm_menu_logo {
	padding-left: 30px;
}

#wcfm_menu:not(.wcfm_menu_toggle) .wcfm_menu_items a.wcfm_menu_item {
	padding-left: 30px;
}

#wcfm_menu:not(.wcfm_menu_toggle) .wcfm_menu_item span.wcfmfa,
.wcfm_dashboard_wc_status_data .wcfmfa,
.wcfm_dashboard_wc_reports_pie .wcfmfa,
.wcfm_dashboard_latest_topics .wcfmfa,
.wcfm_dashboard_notification .wcfmfa,
.wcfm_dashboard_enquiries .wcfmfa,
.wcfm_dashboard_wcfm_region_stats .wcfmfa {
	width: 25px;
	margin-right: 15px;
}

.wcfm_dashboard_wc_status_data a,
.wcfm_dashboard_stats_block a {
	margin-left: 0;
}

div.wcfm-content ul,
div.wcfm-content p {
	padding-left: 0;
	padding-right: 0;
}

#wcfm-main-contentainer div.wcfm-content {
	
}

#wcfm-main-contentainer .page_collapsible label.wcfmfa,
#wcfm-main-contentainer .page_collapsible label.fab {
	width: 25px;
	margin-right: 15px;
}

#wcfm_menu:not(.wcfm_menu_toggle) .wcfm_menu_logo h4 a.wcfm_store_logo_icon {
	margin-left: -10px;
	margin-right: 5px;
}

#wcfm-main-contentainer input.wcfm_submit_button,
#wcfm-main-contentainer button.wcfm_submit_button,
#wcfm-main-contentainer a.wcfm_submit_button,
#wcfm-main-contentainer .wcfm_add_category_bt,
#wcfm-main-contentainer .wcfm_add_attribute,
#wcfm-main-contentainer .wcfm_add_attribute_term,
#wcfm-main-contentainer input.upload_button,
#wcfm-main-contentainer input.remove_button,
#wcfm-main-contentainer .dataTables_wrapper .dt-buttons .dt-button,
#wcfm_vendor_approval_response_button,
#wcfm_bulk_edit_button,
#wcfm_enquiry_submit_button {
	padding: 11px 15px !important;
	border: 0 !important;
	margin-top: 5px;
}

#wcfm-main-contentainer table.dataTable.display tbody tr td {
	line-height: 1.5;
}

#wcfm-main-contentainer table th,
#orders_details_items_expander table th,
#wcfm-main-contentainer table td,
#orders_details_items_expander table td,
#wcfm-main-contentainer table.dataTable.display tbody tr td {
	width: auto !important;
}

div.wcfm-content ul li,
#orders_details_items_expander .wc-order-totals .label,
#wcfm-main-contentainer table th,
#orders_details_items_expander table th {
	font-size:14px;
}

#orders_details_items_expander table.woocommerce_order_items td.thumb .wc-order-item-thumbnail {
	border: 0 !important;
}

#wcfm-main-contentainer input.remove_button {
	right: auto;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	margin: 0;
	position: absolute;
	top: calc(50% - 22px);
	left: calc(50% - 22px);
}

#wcfm-main-contentainer h2 + span[class*="-status"] {
	margin-top: 18px;
}

#wcfm-main-contentainer h2 + span[class*="-status"] + a .view_count {
	margin-top: 14px;
}

img[class*="attachment-"][class*="size-"],
.wcfmmp-author-img img {
	border-radius: 4px;
}

#wcfm-main-contentainer table th {
	padding-right: 15px !important;
}

.wcfm-top-element-container > ul[class*="wcfm_"][class*="_menus"] {
	margin-top: 18px;
	margin-bottom: 18px;
}

.page_collapsible {
	border-bottom: rgba(255,255,255,0.15) 1px solid;
}

#wcfm_menu .wcfm_menu_items:last-child a.wcfm_menu_item {
	border-bottom: 0;
}

#wcfm-main-contentainer a.add_new_wcfm_ele_dashboard,
#wcfm-main-contentainer a.wcfm_import_export {
	padding: 8px 12px;
	margin-top: 8px;
	margin-bottom: 8px;
}

[class*="_manager_cats_checklist_fields"],
#wcfm-main-contentainer .wcfm_full_ele[class*="_tags_ele"],
#wcfm-main-contentainer textarea.wcfm-textarea,
[class*="-feature-upload"] {
	border: 0;
	width: calc(100% - 65px) !important;
	max-width: 9999px !important;
}

.wcfm-wp-fields-uploader img {
	border: 0;
	background-color: #f5f5f5;
}

[class*="_manager_cats_checklist_fields"],
#wcfm-main-contentainer .wcfm_full_ele[class*="_tags_ele"],
#wcfm-main-contentainer textarea.wcfm-textarea {
	width: calc(100% - 25px) !important;
	margin-left: 25px !important;
}

.wcfm_fetch_tag_cloud {
	margin-top: 5px !important;
}

#wcfm-main-contentainer .wcfm_full_ele[class*="_tags_ele"] {
	padding: 20px;
	margin-bottom: 15px !important;
}

[class*="-feature-upload"],
#gallery_img {
	width: calc(100% - 25px) !important;
	margin-left: 25px;
	
}

[class*="-feature-upload"] {
	margin-bottom: 30px;
}

[id*="wcfm_"][id*="_manage_form_general_expander"] .multi_input_block .wcfm_img_uploader,
[id*="wcfm_"][id*="_manage_form_general_expander"] .multi_input_block .wcfm-wp-fields-uploader img {
	width: 100% !important;
}

.multi_input_block .wcfm-wp-fields-uploader img {
	border: 0 !important;
	background-color: #f5f5f5;
}

[id*="wcfm_"][id*="_manage_form_variations_expander"] .multi_input_block .wcfm-wp-fields-uploader img {
	width: 150px;
}

#wcfm-main-contentainer [id*="wcfm_"][id*="_manage_form_variations_expander"] input.remove_button {
	left: 53px;
}

[id*="wcfm_"][id*="_manage_form_general_expander"] .multi_input_block .wcfm-wp-fields-uploader img,
.wcfm_gallery_upload.multi_input_block_element {
	height: 100px !important;
}

#gallery_img .multi_input_block:nth-child(odd),
#wcfm_360_images .multi_input_block:nth-child(odd) {
	padding-left: 0;
	padding-right: 10px;
}

#gallery_img .multi_input_block:nth-child(even),
#wcfm_360_images .multi_input_block:nth-child(even) {
	padding-left: 10px;
	padding-right: 0;
}

#gallery_img .multi_input_block {
	width: 50%;
}

#wcfm-main-contentainer .select2-container--default .select2-selection--single .select2-selection__rendered,
#wcfm-main-contentainer .select2-search input {
	padding: 5px 12px !important;
}

#wcfm-main-contentainer .wcfm-top-element-container .select2-container {
	margin-top: 11px;
}

#wcfm-main-contentainer #wcfm_products_manage_form div.wcfm-content,
[id*="wcfm_"][id*="_manage_form_general_expander"] {
	padding: 20px !important;
}

#wcfm-main-contentainer input[type="text"].wcfm-text[class*="_title"] {
	padding: 0;
	border: 0 !important;
	box-shadow: none !important;
	font-size: 24px;
	border-bottom: 1px solid #ddd !important;
	padding-top: 0 !important;
	margin-top: 0 !important;
	padding-bottom: 15px;
	height: 60px;
	color: #007cba;
	font-weight: bold;
}

.wcfm-dashboard-page #wcfm-main-contentainer input[type="checkbox"]#product_approval {
	display: none;
}

.wcfm-dashboard-page #wcfm-main-contentainer input[type="checkbox"]#product_approval + .description.wcfm_page_options_desc {
	margin-top: -30px;
	padding-bottom: 30px;
}

#wcfm-main-contentainer * + input[type="text"].wcfm-text[class*="_title"] {
	margin-top: 30px !important;
	font-weight: bold;
}

div.wcfm-collapse-content h2 {
	font-style: normal;
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 18px;
	padding-bottom: 18px;
	vertical-align: middle;
}

#wcfm-main-contentainer .wcfm-top-element-container img.vendor_store_logo {
	margin-top: 8px;
	margin-bottom: 8px;
}

[class*="-feature-upload"] .placeHolder,
[class*="-feature-upload"] img {
	border: 0;
	border-radius: 3px;
	width: 100%;
}

#product_type + .select2 {
	width: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
	width: 26px;
	height: 26px;
	margin-right: 15px;
	text-align: center;
	border-radius: 30px;
	background-color: #f4d0d0;
	line-height: 26px;
}

#wc-logo {
	border: 0;
}

.wc-setup .wc-setup-actions .button.wcfm_submit_button {
	color: #fff;
	text-shadow: none;
	font-weight: bold;
}

.find_address_wrapper,
.find_address_wrapper + .withdrawal_setting_break_1_wrapper {
	display: none;
}

.wc-setup-content .select2-container--default .select2-selection--single .select2-selection__rendered {
	padding: 5px 12px !important;
}

.wc-setup-content ~ .wc-return-to-dashboard {
	display: none;
}

.wcfm_ele.wcfm_half_ele_title,
.wcfm_ele.wcfm_half_ele_title {
	text-align: right;
	padding-right: 10px;
	padding-top: 8px;
}

.listar-dashboard-reviews-block-vendor {
	cursor: default;
}

div.wcfm-content p.listar-editor-separator {
	border-bottom: 1px solid #ddd !important;
	margin: 22px 0 30px;
}

@media only screen and (max-width: 640px) {
	#wcfm-main-contentainer .wcfm-container-box .wcfm-container {
		width: 100%;
	}
}

@media only screen and (max-width: 1000px) {
	.wcfm_dashboard_stats_block {
		width: calc(50% - 21px);
	}
}

@media only screen and (max-width: 768px) {
	#wcfm-main-contentainer .wcfm_menu_toggler {
		display: block;
		margin-left: 25px;
	}
	
	#wcfm_menu .wcfm_menu_items a.wcfm_menu_item {
		box-shadow: none;
	}
	
	#wcfm_menu:not(.wcfm_menu_toggle) .wcfm_menu_items a.wcfm_menu_item {
		padding-left: 28px !important;
	}
	
	#wcfm_menu:not(.wcfm_menu_toggle) {
		min-width: 270px;
	}
}

@media only screen and (min-width: 769px) and (max-width: 1000px) {
	#wcfm_menu {
		width: 35%;
	}
	
	#wcfm-main-contentainer .wcfm-collapse {
		width: 65%;
	}
}

@media only screen and (min-width: 1001px) and (max-width: 1199px) {
	#wcfm_menu {
		width: 28%;
	}
	
	#wcfm-main-contentainer .wcfm-collapse {
		width: 72%;
	}
}

@media only screen and (max-width: 480px) {
	.wcfm_dashboard_stats_block {
		width: calc(100% - 18px);
	}
	
	.wcfm-top-element-container .select2-container {
		width: 100% !important;
	}
	
	.wcfm-wp-fields-uploader,
	.wcfm-wp-fields-uploader img {
		width: 100%;
	}
}

@media only screen and (max-width: 414px) {
	.wcfm_dashboard_stats_block {
		max-height: 999px;
		height: 100px;
	}
}



/* GENERATED BY WCFM STYLE */

.wcfm-page-headig .wcfm-page-heading-text, #wcfm-main-contentainer .wcfm-page-headig a.active .wcfmfa, .wcfm_dashboard_membership_details, div.wcfm-collapse-content h2, #wcfm_page_load .wcfmfa, #wcfm-main-contentainer .wcfm_header_panel a:hover, #wcfm-main-contentainer .wcfm_header_panel a.active, ul.wcfm_products_menus li a, ul.wcfm_listings_menus li a, #wcfm-main-contentainer .wcfm-container-box .wcfm-container .booking_dashboard_section_icon, #wcfm-main-contentainer .wcfm_bookings_gloabl_settings, #wcfm-main-contentainer .wcfm_gloabl_settings, #wcfm-main-contentainer .wcfm_screen_manager_dummy, #wcfm-main-contentainer .wcfm_screen_manager, #wcfm-main-contentainer .woocommerce-reports-wide .postbox div.stats_range ul li.active a, .wcfm_reports_menus li a, #wcfm-main-contentainer .sales_schedule, #wcfm-main-contentainer .woocommerce-exporter-wrapper .wc-progress-form-content .woocommerce-importer-done::before, #wcfm-main-contentainer .woocommerce-exporter-wrapper .woocommerce-exporter .woocommerce-importer-done::before, #wcfm-main-contentainer .woocommerce-exporter-wrapper .woocommerce-importer .woocommerce-importer-done::before, #wcfm-main-contentainer .woocommerce-importer-wrapper .wc-progress-form-content .woocommerce-importer-done::before, #wcfm-main-contentainer .woocommerce-importer-wrapper .woocommerce-exporter .woocommerce-importer-done::before, .woocommerce-importer-wrapper .woocommerce-importer .woocommerce-importer-done::before, .woocommerce-progress-form-wrapper .wc-progress-form-content .woocommerce-importer-done::before, .woocommerce-progress-form-wrapper .woocommerce-exporter .woocommerce-importer-done::before, .woocommerce-progress-form-wrapper .woocommerce-importer .woocommerce-importer-done::before, .woocommerce-exporter-wrapper .wc-progress-steps li.done, .woocommerce-importer-wrapper .wc-progress-steps li.done, .woocommerce-progress-form-wrapper .wc-progress-steps li.done, .woocommerce-exporter-wrapper .wc-progress-steps li.active, .woocommerce-importer-wrapper .wc-progress-steps li.active, #wcfm-main-contentainer ul.wcfm_orders_menus li a, ul.wcfm_bookings_menus li a, #wcfm-main-contentainer .wc_bookings_calendar_form .wc_bookings_calendar td .bookings ul li a strong, #wcfm-main-contentainer .wc_bookings_calendar_form .tablenav .views a, #wcfm-main-contentainer .wc_bookings_calendar_form .tablenav .date_selector a, #wcfm-main-contentainer ul.wcfm_appointments_menus li a, #wcfm-main-contentainer .wcfm-container-box .wcfm-container .appointment_dashboard_section_icon, #wcfm-main-contentainer .wcfm_appointment_gloabl_settings, #wcfm-main-contentainer .wc_appointments_calendar_form .wc_appointments_calendar td .appointments ul li a strong, #wcfm-main-contentainer .wc_appointments_calendar_form .calendar_wrapper ul li a strong, #wcfm-main-contentainer .wc_appointments_calendar_form .tablenav .views a, #wcfm-main-contentainer .wc_appointments_calendar_form .tablenav .date_selector a, #wcfm-main-contentainer .mapp-m-panel a, #wcfm-main-contentainer .woocommerce-reports-wide .postbox div.stats_range ul li.custom.active, #wcfm-main-contentainer .sub_checklist_toggler, .woocommerce-progress-form-wrapper .wc-progress-steps li.active, .wcfm_fetch_tag_cloud:hover, .wcfm_add_new_category:hover, .wcfm_fetch_tag_cloud a:hover, #wcfm-main-contentainer table thead td, #wcfm-main-contentainer table thead th, #wcfm-main-contentainer table tfoot td, #wcfm-main-contentainer table tfoot th, .wcfm_welcomebox_user_details h3, .wcfm_product_title, .wcfm_coupon_title, .wcfm_order_title, .wcfm_booking_title, .wcfm_appointment_title, .wcfm_auctions_title, .wcfm_listing_title, .wcfm_dashboard_item_title, .wcfmmp_sold_by_wrapper a, .wcfm-store-setup .wc-setup-steps li.active, .wcfm-store-setup .wc-setup-steps li.done, .wcfm-store-setup h1#wc-logo a{ 
	color: #007cba;
}

.woocommerce-exporter-wrapper .wc-progress-steps li.active::before, .woocommerce-importer-wrapper .wc-progress-steps li.active::before, .woocommerce-progress-form-wrapper .wc-progress-steps li.active::before, .woocommerce-exporter-wrapper .wc-progress-steps li.done::before, .woocommerce-importer-wrapper .wc-progress-steps li.done::before, .woocommerce-progress-form-wrapper .wc-progress-steps li.done::before,  .woocommerce-exporter-wrapper .wc-progress-steps li.done::before, .woocommerce-importer-wrapper .wc-progress-steps li.done::before, .woocommerce-progress-form-wrapper .wc-progress-steps li.done::before, .woocommerce-exporter-wrapper .wc-progress-steps li.done, .woocommerce-importer-wrapper .wc-progress-steps li.done, .woocommerce-exporter-wrapper .wc-progress-steps li.active, .woocommerce-importer-wrapper .wc-progress-steps li.active, .wcfm_vacation_msg, #wcfm-main-contentainer a.add_new_wcfm_ele_dashboard:hover, #wcfm-main-contentainer a.wcfm_import_export:hover, #wcfm_auto_suggest_product_title li a:hover, .wcfm-action-icon:hover, #wcfm-main-contentainer .wcfm_product_popup_button, .wcfm-store-setup .wc-setup-steps li.active:before, .wcfm-store-setup .wc-setup-steps li.done:before{ 
	background-color: #007cba;
}

#wcfm-main-contentainer .woocommerce-reports-wide .button:hover, #mapp_e_search, #wcfm-main-contentainer #wcfm_quick_edit_button:hover, #wcfm-main-contentainer #wcfm_screen_manager_button:hover, .woocommerce-exporter-wrapper .wc-progress-steps li.done::before, .woocommerce-importer-wrapper .wc-progress-steps li.done::before, .woocommerce-progress-form-wrapper .wc-progress-steps li.done::before, #wcfm-main-contentainer .wcfm_admin_message .primary:hover, #wcfm-main-contentainer button.wcfm_submit_button:hover, #wcfm-main-contentainer input.wcfm_submit_button:hover, #wcfm-main-contentainer a.wcfm_submit_button:hover, #wcfm-main-contentainer .wcfm_add_category_bt:hover, #wcfm-main-contentainer .wcfm_add_attribute:hover, #wcfm-main-contentainer input.upload_button:hover, #wcfm-main-contentainer input.remove_button:hover, #wcfm-main-contentainer .multi_input_block_manupulate:hover, #wcfm-main-contentainer .dataTables_wrapper .dt-buttons .dt-button:hover, #wcfm_vendor_approval_response_button:hover, #wcfm_bulk_edit_button:hover, #wcfm_enquiry_submit_button:hover, #wcfm_tracking_button:hover{ 
	background: #007cba;
}

#wcfm-main-contentainer .page_collapsible::before, #wcfm-main-contentainer input.wcfm_submit_button, #wcfm-main-contentainer a.wcfm_submit_button, #wcfm-main-contentainer .wcfm_add_category_bt, #wcfm-main-contentainer .wcfm_add_attribute, #wcfm-main-contentainer input.upload_button, #wcfm-main-contentainer input.remove_button, #wcfm-main-contentainer a.add_new_wcfm_ele_dashboard, #wcfm-main-contentainer a.wcfm_import_export, #wcfm_menu .wcfm_menu_items a.wcfm_menu_item::before, #wcfm-main-contentainer .wcfm-page-headig::before, .wcfm_dashboard_welcome_content::before, .wcfm_dashboard_stats_block, .wcfm-container-box .wcfm-container, .wcfm-collapse .wcfm-container, .wcfm-tabWrap, .wcfm-action-icon, #wcfm_vendor_approval_response_button, #wcfm_bulk_edit_button, #wcfm_enquiry_submit_button, #wcfm_tracking_button{ 
	border-bottom-color: #007cba;
}

.woocommerce-progress-form-wrapper .wc-progress-steps li.active, .woocommerce-exporter-wrapper .wc-progress-steps li.active::before, .woocommerce-importer-wrapper .wc-progress-steps li.active::before, .woocommerce-progress-form-wrapper .wc-progress-steps li.active::before, .wcfm_header_panel a.wcfm_header_panel_profile.active img, .wcfm-store-setup .wc-setup-steps li.active, .wcfm-store-setup .wc-setup-steps li.done, .wcfm-store-setup .wc-setup-steps li.active:before, .wcfm-store-setup .wc-setup-steps li.done:before{ 
	border-color: #007cba;
}

#wcfm-main-contentainer .wcfm-page-headig, .wcfm_menu_logo, .wcfm_menu_no_logo{ 
	background: #1C2B36;
}

.wcfm_menu_logo h4, .wcfm_menu_logo h4 a, #wcfm-main-contentainer .wcfm-page-headig, #wcfm-main-contentainer .wcfm-page-headig .wcfmfa, .wcfm_menu_logo, .wcfm_menu_no_logo{ 
	color: #ffffff;
}

#wcfm-main-contentainer .wcfm-collapse{ 
	background: #eceef2;
}

#wcfm_menu .wcfm_menu_items a.active::after{ 
	border-right-color: #eceef2;
}

.wcfm-collapse .wcfm-container, #wcfm-main-contentainer div.wcfm-content{ 
	background: #ffffff;
}

.page_collapsible, .collapse-close, .wcfm-collapse a.page_collapsible_dummy{ 
	background: #1C2B36;
}

.page_collapsible, .page_collapsible label, .collapse-close, .wcfm-collapse a.page_collapsible_dummy{ 
	color: #ffffff;
}

.collapse-open{ 
	background: #1C2B36;
}

.collapse-open, .page_collapsible:hover label, .page_collapsible.collapse-open label{ 
	color: #007cba;
}

#wcfm_menu, #wcfm_menu span.wcfm_sub_menu_items{ 
	background: #1C2B36;
}

#wcfm_menu .wcfm_menu_item span, #wcfm_menu span.wcfm_sub_menu_items a, .wcfm_menu_no_logo h4, .wcfm_menu_no_logo h4 a{ 
	color: #ffffff;
}

#wcfm_menu .wcfm_menu_items a.active{ 
	background: #007cba;
}

#wcfm_menu .wcfm_menu_items:hover a span.wcfmfa, #wcfm_menu .wcfm_menu_items a:hover span{ 
	color: #007cba;
}

#wcfm_menu .wcfm_menu_items a.wcfm_menu_item:hover:after{ 
	border-right-color: #007cba;
}

#wcfm_menu .wcfm_menu_items a.active span, #wcfm_menu .wcfm_menu_items a.active:hover span{ 
	color: #ffffff;
}

#wcfm-main-contentainer a.add_new_wcfm_ele_dashboard, #wcfm-main-contentainer a.wcfm_import_export, #wcfm-main-contentainer input.wcfm_submit_button, #wcfm-main-contentainer button.wcfm_submit_button, #wcfm-main-contentainer a.wcfm_submit_button, #wcfm-main-contentainer .wcfm_add_category_bt, #wcfm-main-contentainer .wcfm_add_attribute, #wcfm-main-contentainer input.upload_button, #wcfm-main-contentainer input.remove_button, #wcfm-main-contentainer .dataTables_wrapper .dt-buttons .dt-button, #wcfm_vendor_approval_response_button, #wcfm_bulk_edit_button, #wcfm_enquiry_submit_button, #wcfm_tracking_button, #submit-job-form input[type="submit"], #job_preview input[type="submit"], .wcfm-store-setup .wc-setup-actions .wcfm_submit_button{ 
	background: #1C2B36;
}

.wcfm-store-setup .wc-setup-actions .wcfm_submit_button{ 
	border-color: #1C2B36;
}

#wcfm-main-contentainer a.add_new_wcfm_ele_dashboard, #wcfm-main-contentainer a.wcfm_import_export, #wcfm-main-contentainer input.wcfm_submit_button, #wcfm-main-contentainer button.wcfm_submit_button, #wcfm-main-contentainer a.wcfm_submit_button, #wcfm-main-contentainer .wcfm_add_category_bt, #wcfm-main-contentainer .wcfm_add_attribute, #wcfm-main-contentainer input.upload_button, #wcfm-main-contentainer input.remove_button, #wcfm-main-contentainer .dataTables_wrapper .dt-buttons .dt-button, #submit-job-form input[type="submit"], #job_preview input[type="submit"], .wcfm-store-setup .wc-setup-actions .wcfm_submit_button{ 
	color: #ffffff;
}

#wcfm-main-contentainer .ui-progressbar .ui-progressbar-value {
	background: #007cba;
	border: 1px solid #007cba;
}